<% if !@results.empty? %>
  <ul>
  <% @results.each do |movie| %>
  <li><%=  strip_tags(movie).html_safe %></li>
  <% end %>
  </ul>
<% else %>
  <h3> Those two people were never in the same movie together.</h3>
<% end %>

<%= link_to "Another Pair?", root_path %>